<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Remover item da lista</h4>
  </div>
  <div class="modal-body">
    Você removerá o item da lista, gostaria de continuar assim mesmo?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$dismiss();">Não</button>
    <button type="button" class="btn btn-primary" ng-click="$close();">Sim</button>
  </div>
</div>
