<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel">Editar</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="input01">Quantidade</label>
            <input type="text" class="form-control" id="input01" placeholder="Quantidade">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$dismiss();">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="$close();">Salvar</button>
    </div>
</div>