<!--<div class="row">

</div>-->
<div class="row">
    <div class="col-md-4">
        <div class="panel bootstrap-panel panel-default">
            <div class="panel-heading">
                Em espera
            </div>
            <div class="panel-body">
                <div ng-repeat="result in vm.waiting"  class="well">
                    <h4>{{::result.name}}</h4>
                    <table class="table table-no-borders">
                        <tr>
                            <td class="align-right fit">Quantidade:</td>
                            <td class="align-left">{{::result.count}}</td>
                        </tr>
                        <tr>
                            <td class="align-right fit">Data:</td>
                            <td class="align-left">{{::result.date | date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel bootstrap-panel panel-info">
            <div class="panel-heading">
                Em andamento
            </div>
            <div class="panel-body">
                <div ng-repeat="result in vm.going"  class="well">
                    <h4>{{::result.name}}</h4>
                    <table class="table table-no-borders">
                        <tr>
                            <td class="align-right fit">Quantidade:</td>
                            <td class="align-left">{{::result.count}}</td>
                        </tr>
                        <tr>
                            <td class="align-right fit">Data:</td>
                            <td class="align-left">{{::result.date | date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel bootstrap-panel panel-success">
            <div class="panel-heading">
                Transferido
            </div>
            <div class="panel-body">
                <div ng-repeat="result in vm.finished"  class="well">
                    <h4>{{::result.name}}</h4>
                    <table class="table table-no-borders">
                        <tr>
                            <td class="align-right fit">Quantidade:</td>
                            <td class="align-left">{{::result.count}}</td>
                        </tr>
                        <tr>
                            <td class="align-right fit">Data:</td>
                            <td class="align-left">{{::result.date | date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>