<div class="row">
    <div ba-panel>
        <div class="form-group">
            <input type="text" class="form-control" id="input01" placeholder="Busca">
        </div>
        <div ng-if="!vm.searchResult">
            <br> Nenhum resultado encontrado.
        </div>
        <table class="table" ng-if="vm.searchResult">
            <thead>
                <tr>
					<td>Princípio</td>
                    <td>Nome</td>
                    <td>Apresentação</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in vm.searchResult">
					<td>{{::result.principio}}</td>
                    <td>{{::result.nome}}</td>
                    <td>{{::result.apresentacao}}</td>
                </tr>
            </tbody>
        </table>

    </div>
	<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
</div>
