<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBmFPVlL3koC_PvD11mD_y7y0PmQZvm54s",
    authDomain: "medhub-3a1e3.firebaseapp.com",
    databaseURL: "https://medhub-3a1e3.firebaseio.com",
    storageBucket: "medhub-3a1e3.appspot.com",
    messagingSenderId: "542735452063"
  };
  firebase.initializeApp(config);
</script>
